*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a{
	text-decoration: none;
}

body{
	font-family: 'gabriola';
  	src: URL('../fonts/gabriola.ttf') format('truetype');
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #e6d2d1;
}

.header-nav ul{
	display: flex;
	justify-content:center;
	align-items: center;
}
.header-nav ul li{
	font-size: 25px;
	list-style-type: none;
	margin-right: 20px;
}